{% extends 'base.html.twig' %}



{% block body %}

    <table class="table table-striped text-center">
        <thead>
            <tr >
                <th>#</th>
                <th class="text-center">Задача</th>
                <th class="text-center">Deadline</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>

        {%  for todo in todos %}
            <tr>
                <th scope=row>{{todo.id}}</th>
                <td>{{ todo.name }}</td>
                <td>{{ todo.dueDate|date('F j, Y g:i') }}</td>
                <td>
                    <a href="todo/details/{{todo.id}}" class="btn btn-info">Подробнее</a>
                    <div class="pull-right">
                        <a href="todo/edit/{{todo.id}}" class="btn btn-warning text-right">Править</a>
                        <a href="todo/delete/{{todo.id}}" class="btn btn-danger text-right">Удалить</a>
                    </div>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>


{% block stylesheets %}
    
{% endblock %}
{% endblock %}